/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.invalid {
	border-color: #db5565;
}
.invalid:hover, 
.invalid:focus {
	border-color: #db5565;
}

.swal2-title {
  font-size: 20px;
}

#basic-info-form  .form-control{
  /*text-transform: uppercase;*/
}

.k-grid .k-header .k-button,
.k-pager-refresh.k-link.k-button,
.k-header.k-grid-toolbar {
    background-color: #00B16A;
    border-color: #00B16A;
}

.k-grid .k-header .k-button:hover
{
	background-color: rgba(255,255,255,0.3);
	border: solid 1px transparent;
}


.k-grid tr.k-state-selected>td,
.k-grid tr.k-state-selected {
    background-color: rgb(230, 230, 230);
    border-color: rgba(0, 0, 0, 0.1 );
    color: #444444;
}
.k-grid tr.k-state-selected:hover td {
    background-color: rgba(220, 220, 220, 0.8);
}

.k-grid-details {
  min-width: 0px;
}

.k-popup .k-header {
  font-size: 1.25rem
}
.k-widget{
  font-size:  1.35rem
}